body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

.body {
	height: calc(100% - 50px);
	width: 100%;
}

a {
	color: #B7B7B7;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #FFFFFF;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* "Find an Artist" */
.sidebar-title {
	text-align: center;
	color: #EDEDED;
}

.sidebar {
  	background-color: #4C4C4C;
  	height: 80%;
  	overflow-y: scroll;
}

.bottom-box-outer {
	background-color: #5E5E5E;
	display: inline-block;
	width: 100%;
	height: 19.5%;
}

.bottom-box-inner {
	background-color: #5E5E5E;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	margin-right: -999em;
}

.nameplate {
	width: 340px;
	height: 42px;
	margin: 5px;
}

.interactive-title {
	text-align: center;
	display: inline;
	font-family: inherit;
  	font-weight: 500;
  	line-height: 1.1;
  	color: inherit;
  	margin-top: 20px;
  	margin-bottom: 10px;
  	padding-left: 20px;
    font-size: 30px;
}

.head {
	margin: 0px;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 50px;
}

#map {
	height: 80%;
}

#event-scroll {
	padding: 0;
	margin: 0;
	height: 100%;
  	list-style: none;
  	margin-right: -999em;
  	float: left;
}

.event {
	width: 200px;
	height: 100%;
	position: relative;
	float: left;
	display: inline;
}

.event img {
	padding-top: 5px;
	height: 95%;
	width: 200px;
}

.event h2 {
	text-align: center;
	background: rgba(0, 0, 0, 0.55);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2rem;
	transform: translate(-50%, -50%);
}

/* event details pop-up upon click on marker */
#overlay {
	background-image: none;
	background-size: 100%;
	z-index: 20;
	position: absolute;
	top: 6%;
	left: 6%;
	right: 6%;
	bottom: 6%;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
	overflow-y: scroll;
}

#exit-button:hover {
	color: #808080;
	text-decoration: underline;
}

.background {
	z-index: 1;
	position: relative;
}

#fade-bg {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 2;
	opacity: 0.5;
	background-color: #000000;
	pointer-events: none;
	cursor: default;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.leaflet-bottom {
	z-index: 2; 
}

#overlay-text {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	position: relative;
	top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	text-align: center;
	padding: 50px;
}