/*! adding stuff! -Elizabeth */

/* prepare page for map width resizing */
body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

.body {
	height: calc(100% - 50px);
}

/* the rest */
a {
	color: #B7B7B7;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #FFFFFF;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* "Find an Artist" */
h3 {
	color: #EDEDED;
}

.sidebar {
  	background-color: #4C4C4C;
  	height: 80%;
  	overflow-y: scroll;
}

.artists {
	padding: 0;
	margin: 0;
  	list-style: none;
}

.festival-box-outer {
	display: block;
	width: 100%;
	height: 20%;
	overflow-x: scroll;
}

.festival-box-inner {
	background-color: #5E5E5E;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
}

.festival-box-inner img {
	padding-top: 5px;
	height: 95%;
	width: 200px;
}

.nameplate {
	width: 340px;
	height: 42px;
	margin: 5px;
}

.interactive-title {
	text-align: center;
	display: inline;
	font-family: inherit;
  	font-weight: 500;
  	line-height: 1.1;
  	color: inherit;
  	margin-top: 20px;
  	margin-bottom: 10px;
  	padding-left: 20px;
    font-size: 30px;
}

.head {
	margin: 0px;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 50px;
}

#map {
	height: 80%;
}

/* text overlays on festival images */
.image {
	width: 200px;
	height: 100%;
	position: relative;
	float: left;
}

.image h2 {
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2rem;
	transform: translate(-50%, -50%);
}